<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist Cover Creator</title>
    <link rel="stylesheet" href="static/home_style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Spotify Playlist Cover Creator</h1>
            <p>Create beautiful, custom covers for your favorite Spotify playlists by blending track cover images.</p>
            <button class="create-btn"  onclick="window.location.href='/playlist-explorer';">Create Your Cover</button>
        </div>
    </header>

    <section class="examples">
        <h2>What to expect...</h2>
        <div class="cover-example">
            <img src="https://i.scdn.co/image/ab67616d0000b273a871bc3a84418ad1240a5d4e" alt="Track 1 Image" class="track-img">
            <img src="https://i.scdn.co/image/ab67616d0000b273d64b294cc4a288c7a84c04bb" alt="Track 2 Image" class="track-img">
            <img src="https://i.scdn.co/image/ab67616d0000b273460a6b31a32dd55f2149dfcf" alt="Track 3 Image" class="track-img">
            <span class="arrow">⟶</span>
            <img src="static/images/alex-scooter-1.png" alt="Generated Cover" class="output-img">
        </div>
        <div class="cover-example">
            <img src="https://i.scdn.co/image/ab67616d0000b273b6515dd60db533a38b4ddac5" alt="Track 3 Image" class="track-img">
            <img src="https://i.scdn.co/image/ab67616d0000b27314b67fd4cfcdaba9fc304f05" alt="Track 4 Image" class="track-img">
            <span class="arrow">⟶</span>
            <img src="static/images/disco-worldholdon3.png" alt="Generated Cover" class="output-img">
        </div>
        <div class="cover-example">
            <img src="https://i.scdn.co/image/ab67616d0000b2734fae1e875cb0457ce1b1caad" alt="Track 5 Image" class="track-img">
            <img src="https://i.scdn.co/image/ab67616d0000b273adc391e06a1ecdc2cb4d193f" alt="Track 6 Image" class="track-img">
            <span class="arrow">⟶</span>
            <img src="static/images/lesson1+mad-about-you.png" alt="Generated Cover" class="output-img">
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Playlist Cover Creator. Powered by Spotify API and OpenAI.</p>
    </footer>
</body>
</html>
