<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlists</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Spotify Playlists</h1>
        <div id="input-container">
            <input type="text" id="user_id_input" placeholder="Enter Spotify user ID">
            <button onclick="getPlaylists()">Search playlists</button>
        </div>
        <div id="playlists_list"></div>
    </div>
    
    <!-- Link to the external JavaScript file -->
    <script src="static/script.js"></script>
</body>
</html>
